<div class="box box-default collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title">
            <span class="pull-left badge bg-aqua">{{ itemEntries|length }}</span>
            &nbsp;View items
        </h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        {% for itemEntry in itemEntries %}
            {% include 'common/item.html.twig' with {'itemId': itemEntry } %}
        {% endfor %}
    </div>
    <!-- /.box-body -->
</div>