{% extends 'AvanzuAdminThemeBundle:layout:login-layout.html.twig' %}

{% block title %}Information{% endblock %}

{% block page_content %}
    <div class="login-box">
        <div class="login-box-body">
            <h3>Bienvenido al proyecto trinity-core-proControl</h3>

            <p>Este es un proyecto de entretenimiento e investigación a través del cual se pretende personalizar un servidor de wow a través de una herramienta en Symfony que modifique la base de datos del sistema.</p>
            <p>El foco principal es que los propios jugadores sean los que puedan decidir sobre qué cambios quieren hacer en sus pjs y en el propio mundo.</p>
            <p><b>El proyecto aún está en desarrollo.</b></p>

            <hr/>

            <h3>¡Quiero probar!</h3>
            <ul>
                <li>Comienza por descargar wow 3.3.5a.</li>
                <li>Cambia el fichero de configuración a: <pre>set realmList "lanparties.tk"</pre></li>
                <li><a href="http://lanparties.tk/register">Registrate en nuestra web.</a></li>
                <li>Ya puedes entrar a wow con tu usuario y contraseña.</li>
                <li>Podrás hacer cambios en el <a href="http://lanparties.tk/panel">Panel</a></li>
            </ul>

            <hr/>

            <h3>Quiero entrar a tocar código, ayudar, experimentar, aprender, divertirme...</h3>
            <p>Bienvenido, aquí está el proyecto <a href="https://github.com/hidabe/trinity-core-proControlWeb">Symfony en GitHub.</a></p>
        </div>
    </div>
{% endblock %}